@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

:root {
    --clr-background: hsl(63, 80%, 91%);
    --clr-button: #d0d3a2;
    --clr-primary-light: hsl(170, 80%, 78%);
    --clr-primary: hsl(170, 71%, 40%);
    --clr-primary-dark: hsl(170, 31%, 30%);
    --clr-accent-light:  hsl(353, 80%, 78%);
    --clr-accent:  hsl(353, 71%, 40%);
    --clr-accent-dark:  hsl(353, 31%, 30%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
    margin: 0;
    border: none;
    outline: none;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
}

/* Typography */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--clr-background);
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-block: 0.3em;
}

h3 {
    margin-top: .5rem;
}

/* Components */

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    font-size: 1.25rem;
    padding-inline: .8em;
    padding-block: .2em;
    margin-block: 0.25em;
    border: 1px solid;
    border-radius: 0.2em;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary-dark);
    color: white;
}

.btn:disabled {
    opacity: .7;
    pointer-events: none;
}

.icon {
    height: 1.5em;
    width: 1.5em;
    fill: currentColor;
}

.container{
    width: min(80vw, 800px);
    margin-inline: auto;
}

.slider-container > input {
    width: 100%;
}

/* Sections */

header {
    background-color: var(--clr-primary-dark);
    height: 3rem;
}

.top-bar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-block: 0.25rem;
}

main {
    flex-grow: 1;
    padding-block: 1em;
    padding-inline: 10vw;
}

.pageTitle {
    margin: 0;
}

.question {
    font-size: 2rem;
    text-align: center;
    background-color: white;
    border: 1px solid var(--clr-primary);
    border-radius: 0.25em;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-block: 1rem;
}

.option-btn {
    width: 100%;
    font-family: 'Noto Serif KR', serif;
    font-size: 2.2rem;
    padding-block: 0.15em;
    background-color: var(--clr-background);
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.option-btn:focus {
    border: 1px solid #333;
}

.option-btn:active {
    transform: scale(1.05);
}

.option-wrong {
    background-color: var(--clr-accent);
    color: white;
}
.option-right {
    background-color: var(--clr-primary);
    color: black;
}

.options-group {
    max-width: 40rem;
    margin-inline: auto;
}

.options-group ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1em;
    column-gap: 2em;
}

.options-group li {
    list-style: none;
}

.options-group li button {
    font-size: 1.5rem;
    width: 100%;
    padding-block: 1em;
    padding-inline: 0.7em;
    background-color: var(--clr-background);
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.25rem var(--clr-primary-dark);
    cursor: pointer;
}
