
:root {
    --clr-primary: hsl(165, 56%, 69%);
    --clr-primary-dark: hsl(165, 56%, 25%);
    --clr-background: hsl(62, 5%, 98%);
    --clr-primary-contrast: hsl(62, 5%, 98%);
    --clr-error: hsl(359, 100%, 70%);
    --clr-button: hsl(61.7, 78.3%, 93%);
    --clr-shadow: hsl(0, 0%, 40%);
    --clr-backdrop: hsl(165, 0%, 90%);
    --font-korean: 'Noto Serif KR';
    --size-max-width: 900px;
    accent-color: var(--clr-primary);
}

/* Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, input, textarea, button {
    font: inherit;
}

button {
    margin: 0;
    border: none;
    outline: none;
    
}

button:enabled {
    cursor: pointer;
}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Typography */

h1 {
    font-size: 1.5em;
}

h3 {
    margin-block-start: .5rem;
}

/* Components and utilities */

.btn {
    font-size: 1.25rem;
    padding-inline: .8em;
    padding-block: .2em;
    margin-block: 0.25em;
    border: 1px solid;
    border-radius: 0.2em;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary-dark);
    color: var(--clr-primary-contrast);
}

.btn:disabled {
    opacity: .7;
    pointer-events: none;
}

.btn-wide {
    padding-inline: clamp(1rem, 8vw, 4.4rem)
}

.icon {
    height: 1.5em;
    width: 1.5em;
    fill: currentColor;
    cursor: pointer;
}

input[type="range"] {
    width: 100%;
    font-size: 0px;
}

/* Sections */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: clamp(1.25rem, 3.5vw, 2rem);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background-color: var(--clr-backdrop);
}

.App {
    min-height: 100vh;
    max-width: var(--size-max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-background);
    box-shadow: 0.2rem 0.2rem 1rem hsl(0, 0%, 70%);
}

header {
    position: sticky;
    top: 0;
    width: min(100%, var(--size-max-width));
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-contrast);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.1rem;
    padding-inline: clamp(1.5rem, 8vw, 6rem);
    line-height: 1.5;
}

main {
    flex-grow: 1;
    padding-block-start: 1em;
    padding-block-end: .5em;
    width: max(220px, 80%);
}

.quiz-selection {
    text-align: center;
    max-width: 32rem;
    margin-inline: auto;
}

.quiz-select-btn {
    font-family: var(--font-korean);
}

.question {
    font-size: 2rem;
    text-align: center;
    background-color: var(--clr-background);
    border: 2px solid var(--clr-primary);
    border-radius: 0.25em;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-block: 1rem;
}

.option-btn {
    width: 100%;
    font-family: var(--font-korean), serif;
    font-size: 2.2rem;
    padding-block: 0.15em;
    background-color: var(--clr-button);
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.option-btn:focus {
    border: 1px solid #333;
    transform: scale(1.05);
}

.option-btn:active {
    transform: scale(1.05);
}

.option-selected,
.option-btn:hover {
    transform: scale(1.05);
}

.option-wrong {
    background-color: var(--clr-error);
}

.option-right {
    background-color: var(--clr-primary);
}

#button-next {
    display: block;
    margin-inline: auto;
}

.options-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 1em;
    column-gap: 2em;
    margin-block: 1em;
}

.options-group button {
    width: 100%;
    padding-block: 1em;
    padding-inline: 0.7em;
    background-color: var(--clr-button);
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 0.25rem var(--clr-shadow);
}

