@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

:root {
    --clr-background: #fcffc1;
    --clr-button: #d0d3a2;
    --clr-primary-light: #9bf4d5;
    --clr-primary: #1dad9b;
    --clr-primary-dark: #346357;
    --clr-accent: #ad1d2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
    margin: 0;
    border: none;
    outline: none;
}

/* Typography */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--clr-background);
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    margin-block: 0.3em;
}

/* Components */

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

select {
    appearance: none;
    min-width: 15ch;
    max-width: 20ch;

    padding-block: 0.25em;
    padding-inline: 0.5em;
    margin: 0;

    border: 1px solid var(--clr-primary);
    border-radius: 0.25em;
    background-color: white;

    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
}

.btn {
    font-size: 1.25rem;
    padding-inline: 1em;
    padding-block: 0.2em;
    margin-block: 0.2em;
    border: 1px solid;
    border-radius: 0.2em;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: var(--clr-primary-light);
    border-color: var(--clr-primary);
}

.btn-primary:disabled {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary-dark);
    color: var(--clr-primary-dark);
}

.icon {
    height: 1em;
    width: 1em;
}

.container{
    width: min(80vw, 800px);
    margin-inline: auto;
}

/* Sections */

header {
    background-color: var(--clr-primary-dark);
    margin-block-end: 1em;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding-block: 0.5rem;
}

#quiz-select {
    background-color: var(--clr-background);
}

.question {
    font-size: 2rem;
    text-align: center;
    background-color: white;
    border: 1px solid var(--clr-primary);
    border-radius: 0.25em;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-block: 1rem;
}

.option-btn {
    width: 100%;
    font-family: 'Noto Serif KR', serif;
    font-size: 2.2rem;
    padding-block: 0.15em;
    background-color: var(--clr-background);
    border: 1px solid #bbb;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.option-btn:focus {
    border: 1px solid #333;
}

.option-btn:active {
    transform: scale(1.05);
}

.option-wrong {
    background-color: var(--clr-accent);
    color: white;
}
.option-right {
    background-color: var(--clr-primary);
    color: black;
}

